html {
  height: 100%;
  width: 100%;
  background-color: #dde1e7;
  font-family: 'Aleo', serif;
  font-family: 'Poppins', sans-serif;
}
.banner{
height: 20em !important;
width: 100%;

}
.Orga{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  padding-inline: 2em;
  box-shadow: -10px -10px 15px   rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12);
}
nav{
  background-color: #dde1e7 !important;
  box-shadow: -10px -10px 15px     
  rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12);
}
.navbar-brand{
  color: #000000;
}
.nav-link{
  color: #000000;
}
.dropdown-menu{
  color: #000000;
}
.dropdown-item{
  color: #000000;
}

h1{
text-align: center; 
margin-top: 1em;
}
.Ttl2{
text-align: center;
}
h2{
  text-align: center;
  margin-top:1em;
  margin-bottom:1em;
  padding-top: 1em;
}
h3{
  margin-top:1em;
  margin-bottom:1em;
  font-style:italic;
  font-weight:lighter;
  
}
h5{
  font-weight:lighter;
}
p{
text-align:justify;
}
.countries{
margin-top: 1em;
}

footer{
margin-top:3em;
padding-inline: 2em;
box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
}
.drss{
  display: flex;
  flex-direction: row;
  height: 11em;
}

.drss2{
  display: flex;
  margin-right: 1em;
  align-items:center;
}
.cprght{
  margin-top: 3em;
  text-align: center;
}

body{
  margin-inline: 4em;
  background-color: #dde1e7;
}
.sctn1{
box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
margin-top: 1em;
padding-inline: 2em;

}
.sctn2{
box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
margin-top: 1em;
padding-inline: 2em;
}
.sctn3{
box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
margin-top: 1em;
padding-inline: 2em;
}
.sctn4{
display: flex;
justify-content: center;
flex-direction: column;
box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
margin-top: 1em;

}
header{
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
}

.beforefooter{
  display: flex !important;
  justify-content: center !important;
}

.flagU{
  height: 12em !important;
  width: 15em;
  display: flex !important;
  justify-content: center !important;
  padding-top: 1em;
  padding-bottom: 1em;
}

.booton{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 1em;
}

.flg{
        box-shadow: 0px 1px 2px 0px #f29191,
            1px 2px 4px 0px #3f3ffd,
            2px 4px 8px 0px black),
            2px 4px 16px 0px grey;
}

.flg:hover{
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.kitchen{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.picturecountrypage{

  height: 12em !important;
  width: 15em;
  padding-bottom: 1em;
}
.hymn{
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
}
.gridd{
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}
.gridd2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1em;
}
.piktoo{
height:8em;
width:8em;
}
.mappps{
  height: 10em;
  margin:auto;
}
.piktoo2{
height:8em;
width:8em;

}
.cptnrp{
display: flex;
justify-content: center;
}
.beegeeneen{
  padding-top: 2em;
}